@page "/"
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration


<PageTitle>Home</PageTitle>

<div class="content">
    <img src="/images/home.svg" alt="Home" class="home-image">
    <div class="home-title">
        Welcome to Awesome AI Chatbot
    </div>
    <div class="home-content">
        An AI chatbot is a software application powered by artificial intelligence, designed to
        simulate human-like
        conversations with users. Leveraging advanced natural language processing (NLP) and machine learning, it
        understands and responds to text or voice inputs in real time. AI chatbots are widely used in customer service,
        e-commerce, and IT support to automate tasks, provide instant responses, and enhance user experience. With
        continuous learning capabilities, they adapt to user preferences and improve interaction quality over time,
            making them essential tools in modern digital ecosystems.
    </div>
    <div class="button-container">
        <button class="button-start" @onclick="NavigateToChatbot">
            Start Chat
        </button>
    </div>
</div>

@code{
    private void NavigateToChatbot()
    {
        NavigationManager.NavigateTo("/chatbot");
    }
}
