@page "/login"
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

<PageTitle>Login</PageTitle>

<div class="login">
    <div class="login-card">
        <img src="/images/microchip.png" alt="Doctors" style="max-width:300px; max-height:300px"/>
        <button @onclick="ActionLogin">Login with KAB</button>
    </div>
</div>

@using BlazorChatApp.Common
@using Microsoft.AspNetCore.WebUtilities
@code {
    /// <summary>
    /// Redirect to the login page of the KAB
    /// </summary>
    /// <returns></returns>
    public async Task ActionLogin()
    {
        var kabLogin = Configuration["DomainSettings:kabLogin"];
        var clientId = Configuration["DomainSettings:clientID"];
        var redirectUri = NavigationManager.BaseUri.TrimEnd('/');
        var url = $"{kabLogin}?client_id={clientId}&redirect_uri={redirectUri}";
        NavigationManager.NavigateTo(url, forceLoad: true);
    }
}