body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #ccd1e4, #aeb6cf);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: #f4f4f7;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 360px;
    width: 100%;
}

    .login-card img {
        max-width: 220px;
        margin-bottom: 2rem;
    }

    .login-card button {
        background-color: black;
        color: white;
        border: none;
        padding: 12px 24px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-in-out;
        letter-spacing: 1px;
    }

        .login-card button:hover {
            transform: translateY(-2px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
        }
