<div class="login">
    <img src="../../../assets/images/login.svg" alt="Login" class="login-image">
    <div class="title">We need access to AICON</div>
    <div>
        <button class="button-login" (click)="actionLogin()">
            <img src="../../../assets/images/aicon-logo.svg" alt="AICON Logo" class="aicon-logo">
            Continue with AICON
        </button>
    </div>
    <div class="terms">
        By clicking “Continue with AICON”, you acknowleadge that you have read and understood and agree to AICON’s Terms
        & Conditions and Privacy Policy
    </div>
</div>